- extends "layout.haml"
- block title
  - if encuesta.pk
    Editando - ={ encuesta.nombre }
  - else
    Nueva Encuesta
- block content
  - if encuesta.pk
    %h1 Editando - ={ encuesta.nombre }
  - else
    %h1 Nueva Encuesta

  {% include "agregar_usuario.haml" %}
  {% include "agregar_grupo.haml" %}
  {% include "agregar_pregunta.haml" %}

  %hr
  .row
    %form
      .row
        .col-md-8
          %input.id-encuesta{'type':'hidden', 'value':"={ encuesta.pk }"}

          .form-group
            %label.control-label{'for':'nombre'} Nombre
            %input.form-control{'id':'nombre', 'type':'text', 'placeholder':'Nombre de Encuesta', 'value':"={ encuesta.nombre }"}

          .form-group
            %label.control-label{'for':'fecha_expiracion'} Fecha Límite
            %input.form-control{'id':'fecha_expiracion', 'type':'date', 'value':'{{ encuesta.fecha_expiracion.date|date:"Y-m-d" }}'}

          .form-group
            %label.control-label{'for':'descripcion'} Descripcion
            %textarea.form-control{'id':'descripcion', 'rows':'3', 'placeholder':'Descripcion'}= encuesta.descripcion
        .col-md-4
          %h4 Usuarios
          %button.btn.btn-primary.pull-right.agregar-usuario{'type':"button", 'data-toggle':'modal', 'data-target':'#crearUsuario'} Agregar Usuario
          %br
          .form-group
            %label.control-label{'for':'usuarios'} Seleccione Usuarios
            %select.form-control.usuarios{'multiple':'multiple'}
              - for user in users
                - if user in encuesta.usuarios.all
                  %option{'selected':'selected', 'value':"={ user.id }"}= user.mail
                - else
                  %option{'value':"={ user.id }"}= user.mail

      %hr
      .row
        %h4 Grupos
        %button.btn.btn-primary.pull-right.agregar-grupo{'type':"button", 'data-toggle':'modal', 'data-target':'#crearGrupo'} Agregar Grupo
        .row
          - with grupos=encuesta.grupos.all
            %ul.nav.nav-tabs.grupos{'role':'tablist'}
              - for grupo in grupos
                - if forloop.first
                  %li.active{'role':'presentation'}
                    %a{'href':"#grupo_={ forloop.counter }", 'role':'tab', 'data-toggle':'tab', 'aria-controls':"grupo_={ forloop.counter }"}= grupo.nombre
                - else
                  %li{'role':'presentation'}
                    %a{'href':"#grupo_={ forloop.counter }", 'role':'tab', 'data-toggle':'tab', 'aria-controls':"grupo_={ forloop.counter }"}= grupo.nombre

            .tab-content.grupos
              - for grupo in grupos
                - if forloop.first
                  .tab-pane.active{'id':"grupo_={ forloop.counter }"}
                    {% include "editar_grupo.haml" with grupo=grupo index=forloop.counter %}
                - else
                  .tab-pane{'id':"grupo_={ forloop.counter }"}
                    {% include "editar_grupo.haml" with grupo=grupo index=forloop.counter %}

  %hr
  .row
    %a.btn.btn-default.pull-left{'href':"/encuestas"} Cancelar
    %button.btn.btn-primary.pull-right.enviar{'type':"button"} Enviar
    %button.btn.btn-warning.pull-right.vista-previa{'type':"button"} Vista Previa
    %button.btn.btn-info.pull-right.guardar{'type':"button"} Guardar

