- extends "layout.haml"
- block title
  Gracias
- block content
  .jumbotron
    %h1 TP Analisis de Sistemas
    %h4 1er Cuatrimestre 2015
    %h3 Gracias por contestar!
    %hr
    .row.alumnos
      %p Alumnos

      %ul
        %li Aguirre, Horacio
        %li Barrera, Hugo
        %li Litvak, David
        %li Morales, Walter
        %li Novillo Cáceres, Matías
