- extends "layout.haml"
- block title
  Home
- block content
  .jumbotron
    %h1 TP Analisis de Sistemas
    %h4 1er Cuatrimestre 2015
    %hr
    .row.alumnos
      %p Alumnos

      %ul
        %li Aguirre, Horacio
        %li Barrera, Hugo
        %li Litvak, David
        %li Morales, Walter
        %li Novillo Cáceres, Matías
    .row
      %a.btn.btn-primary.pull-right{'href':'/encuestas/'} Ir a Encuestas
