- extends "layout.haml"
- block title
  ={ encuesta.nombre }
- block content
  %h1 ={ encuesta.nombre }

  %hr
  %br

  {% include "render_encuesta" with encuesta=encuesta %}

  %hr
  %button.btn.btn-default.pull-right.responder{'type':'button', 'data-encuesta-id':'={ encuesta.id }', 'data-link-id':'={ link.id.int }', 'data-user-id':'={ user.id }'} Responder
